html body {
  margin: 0;
  padding: 0;
}
section h1 {
  text-align: center;
}

.title{
  animation-name: slidein;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  
}
.para{
  animation-name: fadeout; 
  animation-duration:10s;
  animation-iteration-count: infinite;
  
}

@keyframes slidein{
  0%{
    margin-left: 95%;
    font-family: arial;
    font-size:150%;
  }
  
  75%{
    margin-left: 50%;
    font-family: arial;
    font-size: 300%;
    color: blue; 
  }
  100%{
    margin-left: 0%;
    font-family:arial;
    font-size: 450%;
    color: red;  
  }
  
}
@keyframes fadeout{
  from{
    font-size: 75%;
    color: red;
    font-family: arial;
  }
  to{
    font-size:200%;
    color:blue;
    font-family: arial;
  }  
}